<section id="about" class="about bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <p class="intro">
          My name is Jerry Chai, I am a Medical Student turned Full Stack Web Developer. I am experienced in Ruby, JavaScript, HTML5, CSS3, and the relevant frameworks. But my true strength is in my passion for learning, strong meta-cognitive skills, and the ability to pick up new technologies efficiently. I currently work at Good Dog Design, a bay area based software consultancy. Check out my portfolio below, and feel free to get in touch with me if you want me to build your next project!
        </p>
      </div>

      <div class="col-lg-6 col-sm-12 text-center">
        <a class="twitter-timeline" href="https://twitter.com/JerryChaiTea" data-widget-id="613950399574204416" height ="300px">Tweets by @JerryChaiTea</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
</section>
