<footer id="contact">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-3 text-center">
        <a href="https://www.facebook.com/jerbearrr">
          <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".2s"></i>
        </a>
      </div>

      <div class="col-sm-3  text-center">
        <a href="https://github.com/jchai002">
          <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".3s"></i>
        </a>
      </div>

      <div class="col-sm-3 text-center">
        <a href="https://www.linkedin.com/in/jerrychaitea">
          <i class="fa fa-linkedin fa-3x wow bounceIn " data-wow-delay=".4s"></i>
        </a>
      </div>

      <div class="col-sm-3 text-center">
        <a href="mailto:jchai002@gmail.com">
          <i class="fa fa-envelope-o fa-3x wow bounceIn " data-wow-delay=".4s"></i>
        </a>
      </div>
    </div>
  </footer>
