<header id="top" class="header">
  <div class="text-vertical-center">
    <img class="profile-pic" src="img/profile.jpg">
    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="img/bg.jpg"></div>
    <h2>{Jerry Chai}</h2>
    <div class="type-wrap">
        <div id="typed-strings">
            <p>Developer</p>
            <p>Improviser</p>
            <p>Traveller</p>
            <p>Dancer</p>
            <p>Human</p>
        </div>
        #<span id="typed"></span>
    </div>
    <br>
    <a href="#portfolio" class="btn btn-dark btn-lg">Checkout My Portfolio</a>
  </div>
</header>
