<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="https://hippopath.jerrychai.us"><h1>HippoPath</h1></a>
        <div class="project-type">
          <span class="label label-info">ReactJS</span>
          <span class="label label-danger">Ruby on Rails</span>
          <span class="label label-default">Open Source</span>
        </div>
        <a href="https://github.com/jchai002/HippoPath">{Click for Source Code}</a>
        <br>
        <p class="description"> This is a web application that helps medical school students to find carpools for hospital interviews. The majority of the front-end is built using ReactJs, with the data being fed from a rails back-end. The major features include the ability to post interviews, search interviews, and message other students upon finding a match using a real time chat feature similar to facebook messenger.</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="https://hippopath.jerrychai.us">
          <img class="img-portfolio img-responsive" src="img/hippopath.jpg">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="http://practices.learningaccelerator.org/"><h1>The Learning Accelerator</h1></a>
        <div class="project-type">
          <span class="label label-warning">Craft CMS</span>
        </div>
        <br>
        <p class="description">This is one of the projects I worked on at Good Dog Design. It is build on Craft CMS, a PHP based content management system similar to WordPress. I've taken full ownership of the code base for this project, building the entire front-end, asset pipelining, backend server setup, database management, and dev-ops with customized shell scripts.</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="http://practices.learningaccelerator.org/">
          <img class="img-portfolio img-responsive" src="img/tla.jpg">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="http://www.island-adventures.com/"><h1>Island Adventures</h1></a>
        <div class="project-type">
          <span class="label label-warning">Craft CMS</span>
        </div>
        <br>
        <p class="description">This is another project built with Craft CMS. I utilized the matrix field feature of Craft to give the client total flexibility in terms of content management. After I set up the code structure, the client was able to greatly alter and customize the look and feel of the site with out any further code changes.</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="http://www.island-adventures.com/">
          <img class="img-portfolio img-responsive" src="img/ia.jpg">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="https://app.blinkbid.com/"><h1>BlinkBid</h1></a>
        <div class="project-type">
          <span class="label label-danger">Ruby on Rails</span>
        </div>
        <br>
        <p class="description"> This is a ruby on rails based web application that streamlines invoicing and billing for professional photography jobs. This app was launched just before I joined Good Dog, and I contributed to several of the major post-production features such as searching, account management, and dynamic print previews. </p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="https://app.blinkbid.com/">
          <img class="img-portfolio img-responsive" src="img/blinkbid.jpg">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="http://www.sleepdreamland.com/"><h1>Dreamland</h1></a>
        <div class="project-type">
          <span class="label label-primary">Jekyll</span>
          <span class="label label-default">Open Source</span>
        </div>
        <a href="https://github.com/jchai002/Dreamlandd-Mattress">{Click for Source Code}</a>
        <br>
        <p class="description">This is the official business marketing website for Dreamland Mattress, where I was an I.T. consultant. It was built with the static page serving framework Jekyll, and deployed on AWS s3. Because many of Dreamland's customers are Chinese, I designed this website with bilingual support. The content can be switched freely between English and Chinese by clicking on the language option on the navigation bar.</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="http://www.sleepdreamland.com/">
          <img class="img-portfolio img-responsive" src="img/dreamland.jpg">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="http://www.patagoniaprovisions.com/"><h1>Patagonia Provisions</h1></a>
        <div class="project-type">
          <span class="label label-success">Shopify</span>
        </div>
        <br>
        <p class="description">This is an ongoing legacy project I inherited from a previous developer at Good Dog. It is a Shopify based ecommerce platform for Patagonia Provisions, a subsidiary of Patagonia focusing on camping related provisions such as food and food containers. I contributed to various features of this project, including a major restructuring of all the templates to make the project more maintainable.</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="http://www.patagoniaprovisions.com/">
          <img class="img-portfolio img-responsive" src="img/patagonia.jpg">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="http://mytheo.com/"><h1>Theo 2.0</h1></a>
        <div class="project-type">
          <span class="label label-danger">Ruby on Rails</span>
        </div>
        <br>
        <p class="description">
          Theo is a multi-platform application with a web as well as an iOS component. It pulls real time MLS real estate data and allows real estate agents to streamline their showings. I worked on the web development team for this project and contributed to several features such as the property details dashboard and the agent notes controller.
        </p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="http://mytheo.com/">
          <img class="img-portfolio img-responsive" src="img/theo.jpg">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <a href="https://marincf.org"><h1>Marin Community Foundation</h1></a>
        <div class="project-type">
          <span class="label label-warning">Craft CMS</span>
        </div>
        <br>
        <p class="description">The Marin Community Foundation is one of the largest nonprofit community foundations in the country that manages more than $1.6 billion in total assets and distributes more than $60 million annually in grants. For this project, I incorporated various Javascript libraries for this project such as Highcharts and Slick Carousel in order to give users a smooth experience.</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="https://marincf.org">
          <img class="img-portfolio img-responsive" src="img/mcf.jpg">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
</section>
